 
<!DOCTYPE HTML>
<html lang="en">
<head>
<script src="public/jquery.js"></script>
<script src="uploadimgtest/uploadimg.js"></script>



<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<title>Framework</title>
    <style>
      body{
          margin:50px;
          text-align: center;
          font-size: 15px;
          color:rgb(146, 146, 146);
      }      
      span{
         font-size:10px;
      }
    </style>
</head> 
<body>
 Frame Work 
 <span>Author:22542812@qq.com</span>
<form method="Get" action="/Index/Index/formtest">
    <input tpye='text' name='text' value="xingke"></input> 
    <button type ='commit'>COMMIT</button>
</form>

</body>
</html>
