
<style>
#slide{
    font-size:14px;
    color:rgb(111, 111, 111);
}
.note{

}

</style>
<div id="slide">  
    <br>
<div class="alert alert-secondary"  style="background-color: rgb(255, 255, 255)"="alert"> 
   <span> 幻灯片列表：</span><br>
   <span style="font-size: 10px;">该页面编辑主页轮拨图片</span> 
</div>

<div class="container-fluid ">
        <div class="row" style="color:black">
                <div class="col-lg-3">
                    <img>微缩图<img>
                </div>
                <div class="col-lg-2">
                    <img>标题<img>
                </div>
                <div class="col-lg-5">
                     操作 
                </div>
        </div>
<hr>
        <div class="row">
                <div class="col-lg-3">
                    <img src="/sites/Manage/1.jpg" style="height:50px;width:auto"><img>
                </div>
                <div class="col-lg-2">
                    <img>优惠活动1<img>
                </div>
                <div class="col-lg-1">
                        <button  class="btn btn-sm  btn-secondary" onclick=k_crop(2) >
                               替换
                        </button>
                </div>
        </div>
<hr>

        <div class="row">
                <div class="col-lg-3">
                    <img src="/sites/Manage/2.jpg" style="height:50px;width:auto"><img>
                </div>
                <div class="col-lg-2">
                    <img>优惠活动1<img>
                </div>
                <div class="col-lg-1">
                   <button class="btn btn-info">编辑</button>
                </div>
        </div>

<hr>

        <div class="row">
                <div class="col-lg-3">
                    <img src="/sites/Manage/3.jpg" style="height:50px;width:auto"><img>
                </div>
                <div class="col-lg-2">
                    <img>优惠活动1<img>
                </div>
                <div class="col-lg-1">
                   <button class="btn btn-info">编辑</button>
                </div>
        </div>
<hr>
</div>

</div>

<script>



</script>



<!-- 图片裁剪 
doc: 使用Jcrop 作为前端处理
流程->外部调用 显示模态框 ->上传图片->对图片裁切->保存->调用回调

-->
<div id ="crop" style="margin:10px;" >
<script src="/public/Jcrop/js/jquery.min.js"></script>
<script src="/public/Jcrop/js/jquery.Jcrop.js"></script>
<script src="/public/Jcrop/js/jquery.color.js"></script>
<script type="text/javascript">
// 全局存储变量
   var api =null;
   var img_info=null;  //图片路径信息
   var point =null;     //裁切坐标
   var param;

// 外部调用函数
function k_crop(para){
    $('#exampleModal').modal({
        backdrop:'static',
        keyboard:false
    });
    $('#exampleModal').modal('show');
    param=para;
}
/* 回调函数 裁剪成功调用*/
function crop_callback(){
 //... ...
}
function crop($){
    jQuery(function($){
    $('#target').Jcrop({
      onSelect:showCoords,
//      onChange:showpoint,
      bgOpacity: 0.5,   //透明度
      bgColor: 'white', //背景色
      addClass: 'jcrop-light',
      aspectRatio:16/9,  //宽高比
      boxWidth:500,
      boxHeight:500,
    //   setSelect:[20,50,50,70],   //初始化选择区域   
  },function(){ api=this;   });
});
}
function showCoords(c){  //c
    point=c;
}
function cancel(c){
 var data={
     'path':img_info['path']
    } ;

    if(img_info==null){
        return;
    } else {
        $.ajax({
        type: 'Get',
        url:'/Public/Upload/DeleteFile',
        data:data,
        success: function (result) {
            var json = JSON.parse(result);
            if (json.status == true) { //success 
                api.destroy();  
                $("#pic").empty();  //清空div
            } else {  //failed
                alert(json.msg);
            }
        }
      })// ajax end
    }
  }

//第二此裁剪
function saveimg(){   //cb
    if(point == null){
        return
    }
    point= JSON.stringify(point);
    data={
     'point':point,
     'path':img_info['path'],
    }
    $.ajax({
    type: 'Get',
    url: '/Public/Upload/CropImg',
    data:data,
    success: function (result) {
        var json = JSON.parse(result);
        if (json.status == true) { //success 
            $('#exampleModal').modal('hide');
            api.destroy();  
            $("#pic").empty();  //清空div
            crop_callback();
        } else {  //failed
            alert(json.msg);
        }
    }
})// ajax end
}
// 第一次上传文件
function uploadimg(){
  var formData =  new FormData($('form')[0]);
 // var fileList = $("#img").files;      //获取文件
 // formData.append('jpg', fileList[0]); //添加文件 
  $.ajax({
    type: 'Post',
    processData: false,//用于对data参数进行序列化处理 这里必须false
    contentType: false, //必须 
    url: '/Public/Upload/UploadImg',
    data:formData,
    success: function (result) {
        $("#target").css('');
        var json = JSON.parse(result);
        if (json.status == true) { //success 
            img_info=json.data;
            if(api !=null){
            $("#pic").empty();  //清空div
            var html="<img  id='target' src="+json.data['url']+"></img>";  //添加目标
            $("#pic").append(html);
            api.destroy();  
            crop();  //裁剪
            }else{
            var html="<img id ='target' src="+json.data['url']+"></img>";
            $("#pic").append(html);
            crop();
            }
        } else {  //failed
           alert(json.msg);
        }
    }
})// ajax end
}
   </script>
   <link rel="stylesheet" href="/public/Jcrop/css/jquery.Jcrop.css" type="text/css" />

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content"  style="width:600px;" > <!--改大小-->
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">图片裁切</h5><br>
              <span style="font-size: 10px;">仅支持 jpg 图片格式 且最大2M </span>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

                    <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroupFileAddon01"></span>
                            </div>
                            <div class="custom-file">
                            <form id="upload">
                              <input type="file" name='img' class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                            </form>
                              <label class="custom-file-label" for="inputGroupFile01">选择文件</label>
                            </div>
                          </div>

                    <button class ="btn btn-info" onclick =uploadimg() >上传</button>
               <div id="pic"> 
               </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-secondary" onclick=cancel()  data-dismiss="modal">取消</button>
              <button type="button" onclick=saveimg() class ="btn btn-sm btn-primary">保存</button>
            </div>
          </div>
        </div>
      </div>
 



