<!DOCTYPE HTML>
<html lang="en">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<link  href="/public/bootstrap/css/bootstrap.css" rel="stylesheet">
<script src="/public/jquery-2.1.3.min.js"></script>
<!-- bootstrap-->
<script src="/public/popper.min.js"></script>
<script src="/storage/k.js"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- bootstrap-->

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Admin-Login</title>
</head> 

<style>
    body{
        line-height:16px;
        font-size: 12px;
    }
    input{
        height: 12px;
    }
</style>

<body> 

<div id='login '>
        <div class="container">
                <div class="row clearfix">
                    <div class="col-md-4 column">
                    </div>
                    <div class="col-md-4 column">
                    <h4 style="display: block" > SUPER ADMIN  </h4> 
                       <span style="font-size:12px;">第一次使用会创建超级管理员,请正确完整填写并请牢记密码(信息不完整则不会创建），如遗忘请联系技术服务）</span>
                        <form method="POST" action="/Manage/Sign/Super"   class="form-horizontal" role="form">
                            <div class="form-group form-group-sm">
                    <hr>
                                <div class="col-sm-12">
                                   用户名 <input   required="required" name="user" class="form-control  " id="inputEmail3" type="text" />
                                </div
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    密码  <input  required="required" name = "pass" class="form-control" id="inputPassword3" type="password" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    项目名称 <input  required="required"  name = "pro_name" class="form-control" id="inputPassword3" type="text" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    客户名称<input  required="required"  name = "pro_user" class="form-control" id="inputPassword3" type="text" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    客户电话<input  required="required"  name = "pro_tel" class="form-control" id="inputPassword3" type="text" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    邮箱<input  required="required"  name = "pro_email" class="form-control" id="inputPassword3" type="email" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    公司名称<input  required="required"  name = "pro_com" class="form-control" id="inputPassword3" type="text" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    公司简介<input  required="required"  name = "pro_brief" class="form-control" id="inputPassword3" type="text" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    公司地址<input  required="required"  name = "pro_addr" class="form-control" id="inputPassword3" type="text" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                         <label></label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                    <hr>
                                     <button type="submit" class="btn btn-dark">CREATE</button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="col-md-4 column">
                    </div>
                </div>
            </div>

</div>


      </body>
      </html>